
body {
    padding-top:50px;
    display:flex;
    align-items: center;
    justify-content:center;
    background-color:blueviolet;
}

.center {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width:1500px;
}

.container {
    display:flex;
    border:25px solid black;
    height: 600px;
    width: 600px;
    align-items: center;
    justify-content:center;
    flex: auto;
    flex-wrap:wrap;
    box-shadow:5px 5px 5px black;
    border-radius:10px;
    margin-left:150px;
}


.grid-element {
    height: 6px;
    width: 6px; 
    background-color:white;
}

.buttons {
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    padding-top:25px;
    margin-left:150px;
}

.button-style {
    font-size:20px;
    height:3em;
    width:9em;
    border-radius:10px;
}



.button-style:nth-child(1){
    background-color: #9999FF;
}

.button-style:nth-child(2){
    background-color:#FFCC99;
}

.button-style:nth-child(3){
    background-color: #99FF99;
}


.button-style:nth-child(1):hover {
    background-color: #3333FF;
    transition:all 0.4s;
}

.button-style:nth-child(2):hover {
    background-color: #FF8000;
    transition:all 0.4s;
}

.button-style:nth-child(3):hover {
    background-color: #00CC00;
    transition:all 0.4s;
}

.button-style:not(:hover) {
    transition:all 0.4s;
}

.colors {
    display:flex;
    height:50px;
    width:300px;
    border: 1px solid black;
    flex-wrap:wrap;
}

.colors > div {
    height:25px;
    width:30px;
}

.red {
    background-color:red;
}
.blue {
    background-color:blue;
}
.green {
    background-color:green;
}
.orange {
    background-color:orange;
}
.pink {
    background-color:pink;
}
.violet{
    background-color:violet;
}

.yellow {
    background-color:yellow;
}

.lime {
    background-color: lime;
}
.magenta {
    background-color:magenta;
}

.darkgreen {
    background-color:darkgreen;
}

.darkblue {
    background-color:darkblue;
}

.darkred {
    background-color:darkred;
}

.turquoise {
    background-color:turquoise;
}

.lightblue {
    background-color:lightblue;
}

.lightcoral {
    background-color:lightcoral;
}

.lightgreen {
    background-color:lightgreen;
}

.lightgrey {
    background-color:lightgrey;
}

.grey {
    background-color:grey;
}

.black {
    background-color:black;
}

.white {
    background-color:white;
}

.colors-container{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
}

.shown-color {
    border:1px solid black;
    height:25px;
    width:30px;
    background-color:white;
}

.current-color {
    display:flex;
    align-items: center;
    justify-content:center;
    gap:10px;
}